body {
  text-align: center;
  background: linear-gradient(100deg, #350170, #4D1991);
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /*height: 100vh;*/
  font-weight: bold;
}

.header{
  background-color:#5a2d82 ;
  color: white;
  padding: 40px;
  text-align: center;
  width: 100%;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-height: 100px;
  margin-right: 20px;
}

.header-text {
  text-align: left;
}

.header-text h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.header-text ul {
  list-style: none;
  padding: 0;
}

.header-text ul li {
  margin-bottom: 5px;
}


.form{
  background-color: white;
  color: black;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,  0,  0,  0.1);

}

.clientes{
  background-color: #5a2d82;
  color: white;
  text-align: center;
  padding: 40px 20px;
  width: 100%;

}

.logos{
  display: flex;
  justify-content: center;
  flex-wrap: wrap ;
}
.logos img{
  margin: 10px;
  max-height: 60px;
  width: auto;
  flex: 1 0 21%;
}
.steps {
  text-align: center;
  padding: 40px 20px;
  width: 100%;
}
.step{
  margin: 20px 0;

}

.step h3 {
  color:#5a2d82;
}

select{
  padding : 10px;
  font-size: 16px;
  border-radius: 20px;
  font: 1em Roboto;
  width: 100%;
  box-sizing: border-box;
  border: none;
  background-color: #DBDBDB;
  border-radius: 20px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  padding: 0.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

}
option{
  font-size: 14px;
  font-family: "Roboto", "Helvetica Neue",;
  padding: 10px;
  margin: 2px;
  border: 1px solid #ccc;
}
form {
  display: inline-block;
  padding: 2em;
  border-radius: 2em;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 90%;
  max-width: 400px;
  
}
h4 {
  font-size: 1.2em;
  margin-bottom: 1em;
  color: #333;
  font-weight: 700;
  text-align: center;
}

form div {
  margin-bottom: 1em;
}

label {
  display: block;
  text-align: left;
  color: #4F4F4F;
  margin-bottom: 0.5em;
}

input,
textarea {
  font: 1em sans-serif;
  width: 100%;
  box-sizing: border-box;
  border: none;
  background-color: #DBDBDB;
  border-radius: 20px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  padding: 0.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #2ced00;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  outline: none;
}
/*botao confirmar inscrição*/
.button {
  text-align: center;
}


/*botao confirmar inscrição*/
button {
  border-radius: 20px;
  text-align: center;
  background-color: rgb(85, 42, 255);
  color: white;
  font-weight: bold;
  border: none;
  height: 40px;
  padding: 0.5em 1.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {  /*botao confirmar inscrição*/
  background-color: rgb(69, 34, 204);
  transform: translateY(-2px);
}

button:active {
  background-color: rgb(54, 27, 163);
  transform: translateY(0);
}

input::placeholder,
textarea::placeholder {
  color: #888;
  font-style: italic;
}

.iti {
  width: 100%; /*campo telefone*/
}

.iti__flag-container {
  margin-right: 8px;
}

input#telefone {
  padding-left: 58px;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font: 1em Roboto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #DBDBDB;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #DBDBDB;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: fixed;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
