body {
  text-align: center;
  background: linear-gradient(135deg, #92a1ff, #d4e2ff);
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: inline-block;
  padding: 2em;
  border-radius: 2em;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 90%;
  max-width: 400px;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 1em;
  color: #333;
  font-weight: 700;
  text-align: center;
}

form div {
  margin-bottom: 1em;
}

label {
  display: block;
  text-align: left;
  color: #333;
  margin-bottom: 0.5em;
}

input,
textarea {
  font: 1em sans-serif;
  width: 100%;
  box-sizing: border-box;
  border: none;
  background-color: #DBDBDB;
  border-radius: 20px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  padding: 0.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #6a82fb;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  text-align: center;
}

button {
  border-radius: 20px;
  background-color: rgb(85, 42, 255);
  color: white;
  font-weight: bold;
  border: none;
  height: 40px;
  padding: 0.5em 1.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: rgb(69, 34, 204);
  transform: translateY(-2px);
}

button:active {
  background-color: rgb(54, 27, 163);
  transform: translateY(0);
}

input::placeholder,
textarea::placeholder {
  color: #888;
  font-style: italic;
}

.iti {
  width: 100%;
}

.iti__flag-container {
  margin-right: 8px;
}

input#telefone {
  padding-left: 58px;
}
