
  body {
    /* Centraliza o formulário na página */
    text-align: center;
    background-color: rgb(92, 144, 255);
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial;
    vertical-align: baseline;
  }
  
  form {
    display: inline-block;
    /* Esboço do formulário */
    padding: 2em;
    border: 0px solid #ccc;
    border-radius: 2em;
    background-color: #ffffff;
    font: inherit;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra ao formulário */

  }
  .h4{
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #ff0000; /* Cor da fonte dos títulos */
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 2px;
  }
  
  form li + li {
    margin-top: 2em;
    
  }
  
  label {
    /* Tamanho e alinhamento uniformes */
    display: flex;
    min-width: 100px;
    text-align: right;
    color: #333; /* Cor da fonte dos rótulos */
   
   
  }
  
  input,
  textarea {
    /* Para garantir que todos os campos de texto tenham as mesmas configurações de fonte
       Por padrão, as áreas de texto possuem uma fonte monoespaçada */
    font: 1em sans-serif;
    /* Tamanho uniforme do campo de texto */
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial;
    width: 300px;
    box-sizing: border-box;
    /* Corresponde às bordas dos campos do formulário */
    border: 0px solid #8a8a8a;
    background-color: #DBDBDB;
    border-radius: 8px;
    font: inherit;
    margin-bottom: 1em; /* Adiciona espaço abaixo de cada campo de texto */
    padding: 0.5em; /* Adiciona preenchimento interno nos campos de texto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona sombra aos campos de texto */
  }
  
  input:focus,
  textarea:focus {
    /* Destaque adicional para elementos em foco */
    border-color: #000;
  }
  
  textarea {
    /* Alinha campos de texto multilinha com seus rótulos */
    vertical-align: top;
    /* Fornece espaço para digitar algum texto */
    height: 5em;
  }
  
  .button {
    /* Alinha os botões com os campos de texto */
    padding-left: 90px; /* mesmo tamanho dos elementos do rótulo */
    


  }
  
  button {
    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço
       entre os rótulos e seus campos de texto */
    border-radius: 10px;
    background-color: rgb(85, 42, 255);
    color: white;
    font-weight: bold;
    margin: 0%;
    border: none;
    height: 30px;
    align-self: center;
    padding: 0.5em 1em; /* Adiciona preenchimento interno aos botões */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona sombra aos botões */
}
  
  